Source: lxqt-admin
Section: x11
Priority: optional
Maintainer: LXQt Packaging Team <pkg-lxqt-devel@lists.alioth.debian.org>
Uploaders:
 Alf Gaida <agaida@siduction.org>,
 ChangZhuo Chen (陳昌倬) <czchen@gmail.com>,
 Andrew Lee (李健秋) <ajqlee@debian.org>
Build-Depends:
 cmake (>= 3.0.2),
 debhelper (>= 9),
 liboobs-1-dev,
 libx11-dev,
 pkg-config,
 libkf5windowsystem-dev (>= 5.9),
 liblxqt0-dev (>= 0.9.0),
 libqt5x11extras5-dev (>= 5.3),
 libqt5xdg-dev (>= 1.2.0),
 qttools5-dev (>= 5.3),
 qttools5-dev-tools (>= 5.3),
Standards-Version: 3.9.6
Homepage: https://github.com/lxde/lxqt-admin
Vcs-Git: git://anonscm.debian.org/pkg-lxqt/lxqt-admin.git
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-lxqt/lxqt-admin.git

Package: lxqt-admin
Architecture: any
Breaks: lxqt-admin-qt5 (<< 0.9.0)
Replaces: lxqt-admin-qt5 (<< 0.9.0)
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Admin tools for LXQt
 Admin tools for LXQt, as of now:
 * lxqt-admin-time
 * lxqt-admin-user
 .
 This package contain the LXQt Admin Tools.

Package: lxqt-admin-dbg
Architecture: any
Section: debug
Priority: extra
Breaks: lxqt-admin-qt5-dbg (<< 0.9.0)
Replaces: lxqt-admin-qt5-dbg (<< 0.9.0)
Depends:
 ${misc:Depends},
 lxqt-admin (= ${binary:Version}),
Description: Admin tools for LXQt (debug)
 Admin tools for LXQt, as of now:
 * lxqt-admin-time
 * lxqt-admin-user
 .
 This package provides the debugging symbols.

